/* Styles par défaut pour la page */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Styles pour la navbar (cachée par défaut) */
.navbar {
    display: none; /* La navbar est cachée au départ */
    background-color: white;
    color: #0084FA;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Styles qui seront appliqués après le code Konami */
.body-konami {
    background-color: #0084FA; /* Bleu pour le fond */
}
